
*.[Ll]og
*.aps
*.BACKUP*
*.bak
*.BASE*
*.bkp
*.cache
*.exe
*.ilk
*.lib
*.LOCAL*
*.ncb
*.obj
*.orig
*.pch
*.pdb
*.REMOTE*
*.sbr
*.suo
*.tlb
*.tlh
*.user
*.vbproj.vs10x
*.vspscc
*_i.c
*_p.c
.plastic
.svn
/Doku/
/HTML/*.xml
/HTML/*/*
[Bb]in
[Tt]est[Rr]esult*
_ReSharper*/
_test
CO/*
Data/*
desktop.ini
Documents/*
NDependOut*/*
obj/
Setup/main.back.aip
Setup/main-cache
[Ss]ys[Dd]ata/*
Thumbs.db
Vorlagen/*
*/obj/Release/*.vbproj.FileListAbsolute.txt